<div class="row">
  <div class="col-md-6" style="margin: 0 auto;">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col text-center">
            <h1>Edit <%= resource_name.to_s.humanize %></h1>
          </div>
        </div>
        <div class="row">
          <div class="col">

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
            </div>

            <div class="field">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
            </div>

            <div class="row">
              <%= f.submit "Update", class: "btn btn-primary", :style=>'margin: 0 auto;' %>
            </div>
          <% end %>

            </div>
          </div>
        </div>
      </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col text-center">
            <h1>Cancel my account</h1>
          </div>
        </div>
        <div class="row">
          <div class="col">
          <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-primary", :style=>'margin: 0 auto;' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>