<div class="row">
  <div class="col-md-6" style="margin: 0 auto;">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col text-center">
            <h1>Sing up</h1>
          </div>
        </div>
        <div class="row">
          <div class="col">

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group required">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>

            <div class="form-group required">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            </div>

            <div class="form-group required">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
            </div>

            <div class="row">
              <%= f.submit "Sign up" , class: "btn btn-primary", :style=>'margin: 0 auto;'%>
            </div>
          <% end %>

          </div>
        </div>
        <div class="row">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>