<div class="card">
  <div class="card-body">
    Your account balance: <%= current_user.money %>
    <hr>

    <%= link_to 'Add 1000 to your account', give_me_my_money_path, method: "post",class: "btn btn-success" %>
  </div>
</div>