<%= form_with(model: event, local: true) do |form| %>
    <% if event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
            <% event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group required">
      <%= form.label :artist %>
      <%= form.text_field :artist, id: :event_artist , class: "form-control"%>
    </div>

    <div class="form-group required">
      <%= form.label :description %>
      <%= form.text_area :description, id: :event_description, class: "form-control" %>
    </div>

    <div class="form-group required">
      <%= form.label :price %>
      <%= form.text_field :price, id: :event_price, class: "form-control" %>
    </div>

    <div class="form-group required">
      <%= form.label :adults_only %>
      <%= form.check_box :adults_only, id: :event_adults_only %>
    </div>

    <div class="form-group required">
      <%= form.label :event_date %>
      <%= form.date_select :event_date, class: "form-control"%>
    </div>

    <div class="form-group required">
      <%= form.label :seat_count %>
      <%= form.text_field :seat_count, id: :event_seat_count, class: "form-control" %>
    </div>

    <div class="form-group required">
      <%= form.label :rows %>
      <%= form.text_field :rows, id: :event_rows, class: "form-control" %>
    </div>

    <div class="form-group required">
      <%= form.label :image %>
      <%= form.file_field :image %>
    </div>


    <div class="actions">
      <%= form.submit "Create event", class: "btn btn-primary"%>
    </div>
<% end %>