<div class="row">
  <div class="col text-center">
    <h1>Tickets</h1>
  </div>
</div>
<div class="row">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Seats</th>
        <th>Address</th>
        <th>Price</th>
        <th>Email address</th>
        <th>Phone</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @tickets.each do |ticket| %>
          <tr>
            <td><%= ticket.name %></td>
            <td><%= ticket.seat1.to_s  %>
            <%= "," + ticket.seat2.to_s  %>
            <%= ',' + ticket.seat3.to_s  %>
            <%= "," + ticket.seat4.to_s  %>
            <%= "," + ticket.seat5.to_s  %>
            </td>
            <td><%= ticket.address %></td>
            <td><%= ticket.event.price %></td>
            <td><%= ticket.email_address %></td>
            <td><%= ticket.phone %></td>
            <td><%= link_to 'Show', ticket %></td>
            <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
            <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>

          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>


