<div class="row">
  <div class="col text-center">
    <h1>Events</h1>
  </div>

</div>

<div class="row">
  <% for event in @events %>
      <div class="col-md-4">
        <%= link_to event do %>
            <div class="square" style="background-image: url(<%= event.image.url(:medium) %>)">
              <div class="squareTest">
                <%= event.artist %>
              </div>
            </div>
        <% end %>
      </div>
  <% end %>
</div>

<% if current_user && current_user.is_admin %>
<div class="row">
  <div class="col text-center">
    <h1>Archived events</h1>
  </div>
</div>

<div class="row">
  <% for event in @archive_events %>
      <div class="col-md-4">
        <%= link_to event do %>
            <div class="square" style="background-image: url(<%= event.image.url(:medium) %>)">
              <%= event.artist %>
            </div>
        <% end %>
      </div>
  <% end %>
</div>
<% end %>

