<div class="row">
  <div class="col-md-8" style="margin: 0 auto;">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col text-center">
            <h1>Event new</h1>
          </div>
        </div>
        <%= render 'form', event: @event %>
      </div>
    </div>
  </div>
</div>