<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <div class="table-responsive">
          <table class="table table-bordered">
            <tr>
              <th>Artist</th>
              <td><%= @event.artist %></td>
            </tr>
            <tr>
              <th>Description</th>
              <td><%= @event.description %></td>
            </tr>
            <tr>
              <th>Base price</th>
              <td><%= @event.price %></td>
            </tr>
            <tr>
              <th>Date</th>
              <td><%= @event.event_date %></td>
            </tr>
            <tr>
              <th>Adults only</th>
              <td><% if @event.adults_only %>Yes<% else %>No<% end %></td>
            </tr>
            <tr>
              <th>Total seats</th>
              <td><%= @event.seat_count %></td>
            </tr>
            <tr>
              <th>Available seats</th>
              <td><%= @event.seats_left %></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-md-8 .img-responsive" style="margin: auto;">
        <%= image_tag @event.image.url(:medium) %>
      </div>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-body">
    <% if current_user %>
      <% if current_user.is_admin %>
          <%= render "tickets_list", tickets: Ticket.all %>
      <% else %>
        <div class="row">
          <div class="col-md-4">
            <%= render "new_ticket", ticket: @ticket %>
          </div>
          <div class="col-md-8">
            <%= render partial: 'arena/arena_view', locals: { event: @event, tickets: @tickets} %>
          </div>
        </div>
      <% end %>
    <% else %>
      <%= link_to 'Buy ticket', new_ticket_path,class: "btn btn-success" %>
    <% end %>
  </div>
</div>
