<div>
  <div id="arena_box" >
    <% if event && tickets %>
       <%= render partial: 'arena/seat_picker', locals: {event: event, tickets: tickets}  %>
    <% else %>
        <div style="text-align: center;">
          <h1>Pick the event</h1>
        </div>
    <% end %>
  </div>
</div>