<% if event %>
  <div class="arena" >
    <% (1..event.rows).each do |i| %>
        <div class="seat_row">
          <% (1..( event.seat_count / event.rows) ).each do |j| %>
            <div class="seat <%= 'taken' if tickets.flat_map{|a| [a.seat1, a.seat2, a.seat3, a.seat4, a.seat5]}.include? i.to_s+"."+j.to_s %>"
                 id="seat_<%=i.to_s+"."+j.to_s%>" style="width: <%= 99/(event.seat_count/event.rows)%>%;padding-top: <%= 99/(event.seat_count/event.rows)%>%;" onclick="addSeat(this,<%= i %>,<%= j %>, <%= event.price %>, <%= event.is_today %>)">
              <div class="s_number" style="font-size: <%= 1000/(event.seat_count/event.rows)%>%" >
                <%= i.to_s + '.'+ j.to_s %>
              </div>
            </div>
          <% end %>
        </div>
    <% end %>
  </div>
<% end %>
