<head>
  <script>
      $(document).ready(function() {

          $('#ticket_event_selector').change(function(){
              id = $(this).val();
              $.ajax({url: `arena/${id}`})
          });
      });

  </script>
</head>
<body>
<div class="card">
  <div class="card-body">
<%= form_with(model: ticket, local: true)  do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group required">
    <%= form.label :name %>
    <%= form.text_field :name, id: :ticket_name , class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_area :address, id: :ticket_address , class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :email_address %>
    <%= form.text_field :email_address, id: :ticket_email_address, :readonly => true, class: "form-control" %>
  </div>

  <div class="form-group required">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :ticket_phone , class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.text_field :price, id: :ticket_price, :readonly => true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Seats" %>
    <%= form.text_field :seat1, id: :ticket_seat1 ,:readonly => true%>
    <%= form.text_field :seat2, id: :ticket_seat2 ,:readonly => true%>
    <%= form.text_field :seat3, id: :ticket_seat3 ,:readonly => true%>
    <%= form.text_field :seat4, id: :ticket_seat4 ,:readonly => true%>
    <%= form.text_field :seat5, id: :ticket_seat5 ,:readonly => true%>
  </div>

  <div class="form-group">
    <%= form.label :event_id %>
    <%= form.collection_select(:event_id , Event.where('event_date >= ?', Date.today ), :id, :artist, {:prompt => 'Select'},
                                {id: :ticket_event_selector, class: "form-control"}) %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, id: :ticket_user_id %>
  </div>

  <div class="actions">
    <%= form.submit "Buy ticket", class: "btn btn-primary" %>
  </div>

<% end %>
  </div>
</div>
</body>