<h1>Editing Ticket</h1>

<div class="row">
  <div class="col-md-4">
    <%= render 'form', ticket: @ticket %>
  </div>
  <div class="col-md-8">
    <%= render partial: 'arena/arena_view', locals: { event: nil, tickets: nil} %>
  </div>
</div>
