<div class="row">
  <div class="col text-center">
    <h1>New Ticket</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <%= render 'form', ticket: @ticket %>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
    <% if @ticket.event && @ticket.event.tickets %>
      <%= render partial: 'arena/arena_view', locals: { event: @ticket.event, tickets: @ticket.event.tickets} %>
      <% else %>
      <%= render partial: 'arena/arena_view', locals: { event: nil, tickets: nil} %>
    <% end %>
      </div>
    </div>
  </div>
</div>

