<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ticket.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @ticket.address %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ticket.price %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @ticket.email_address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @ticket.phone %>
</p>

<p>
  <strong>Event artist:</strong>
  <%= @ticket.event.artist %>
</p>

<p>
  <strong>Seats:</strong>
  <%= @ticket.seat1 %>
  <%= @ticket.seat2 %>
  <%= @ticket.seat3 %>
  <%= @ticket.seat4 %>
  <%= @ticket.seat5 %>
</p>


