<div class="row">
  <div class="col-md-6" style="margin: 0 auto;">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col text-center">
            <h1>Log in</h1>
          </div>
        </div>
          <div class="row">
            <div class="col">


          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group required">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>

            <div class="form-group required">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off" , class: "form-control"%>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="form-group">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>

            <div class="row">
              <%= f.submit "Log in" , class: "btn btn-primary", :style=>'margin: 0 auto;'%>
            </div>
          <% end %>

            </div>
          </div>
          <div class="row">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>