// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.square{
  margin: 10px;
  height: 150px;
  text-align: center;
  font-size: x-large;
  color: blue;
  vertical-align: middle;
  padding: 15px;
  border-radius: 5%;
}

.squareTest{
  width: 50%;
  border-radius: 40%;
  background-color:snow;
  margin: 0 auto;
  padding: 10px;
}



