// Place all the styles related to the Tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.arena{
  align-content: center;
  background-color: #666666;
  padding: 2px;
}

.seat{
  margin-bottom: 3px;
  border-radius: 5%;
  position: relative;
  background-color: #9f9fa3;
  border: solid 1px #ccc;
  display: inline-block;
  vertical-align: middle;
}

.seat:hover{
  background-color: #a4b03f;
}

.taken{
  background-color: #B00100 !important;
}

.s_number{
  color: white;
  text-align: center;
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  bottom: 0;
}

