<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li>
        <%= link_to 'Events list', events_path, class: "nav-link" %>
      </li>
      <% if user_signed_in? %>
          <% if current_user.is_admin %>
              <li>
                <%= link_to 'Add new event', new_event_path, class: "nav-link" %>
              </li>
          <% end %>
      <% end %>
      <% if user_signed_in? %>
          <li>
            <%= link_to 'Tickets list', my_tickets_path(current_user.id), class: "nav-link" %>
          </li>
      <% end %>
      <% if user_signed_in? %>
        <li>
          <%= link_to 'Buy ticket', new_ticket_path, class: "nav-link" %>
        </li>
      <% end %>
      <% if user_signed_in? %>
          <li>
            <%= link_to 'Money', show_me_my_money_path, class: "nav-link" %>
          </li>
      <% end %>
    </ul>
    <span class="navbar-text navbar-right">
      <% if user_signed_in? %>
        <% if current_user.is_admin %>
          Logged in as <strong>Administrator</strong>.
        <% else %>
          Logged in as <strong><%= current_user.email %></strong>.
        <% end %>

          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'%>
      <% end %>
    </span>
  </div>
</nav>